@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

@font-face {
    font-family: 'inconsolata';
    src:url('./fonts/inconsolata.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plantin';
    src:url('./fonts/Plantin.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}