body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F1EA !important;
}

h1 {
  font-size: 2.5rem !important;
  font-family: 'Heebo', sans-serif;
}

h2 {
  display: flex;
  align-items: center;
  font-size: 2.1rem !important;
  font-family: 'plantin', serif;
  padding-bottom: 4vh;
}

h2:after {
  content: '';
  margin-left: 3vh;
  border-top: 2px solid;
  width: 100%;
  
}

p {
  font-size: 1.3rem;
  font-family: 'Heebo', sans-serif;
}

p.header {
  font-size: 1.15rem;
  margin: auto;
  color: black;
  /* font-weight: 600; */
}

p.footer {
  font-size: 1.2rem;
  padding-bottom: 6vh;
}

.introduction {
  margin-top: 26vh;
  margin-bottom: 25vh !important;
  height: 40vh;
}

.grid {
  display: grid;
  grid-template-columns: [full-start] 0 [main-start text-start] repeat(10,1fr) [text-end main-end] 0 [full-end];
  grid-gap: 20px;
}

.alignment {
  grid-column: 4 / span 4;
  display: flex;
  flex-direction: column;
  -moz-box-pack: end;
  justify-content: flex-end;
  padding: 0px !important;
}

.project-card {
  background-color: white;
  outline: 1px solid;
  margin-bottom: 7vh;
  width: 103% !important;
  padding-left: 2vh !important;
  margin-left: -1.5vh !important;
}

#header {
  padding: 0px !important;
}

#links {
  font-family: 'inconsolata';
}

.border-line {
  border-top: 2px solid !important;
}

.text-body {
  width: 150% !important;
  line-height: 1.3em;
}

.projects-width {
  width: 150% !important;
}

.anchor-projects {
  padding-top: 100px;
}

.anchor-about {
  padding-top: 30px;
}

.project-card-img {
  border-radius: 0px !important;
  outline: 1px solid;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.leading {
  display: flex;
}

.trailing {
  padding: 0px !important;
}

.center-card {
  margin: auto auto auto 0;
}

.project-card-title {
  font-size: 1.5rem;
  margin: 0px;
  border-bottom: 1.5px solid;
  color: black;
  display: inline;
}

.project-card-title:hover {
  color: black;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='black' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 7%;
  border-bottom: 0;
  text-decoration: none;
}

.project-card-text {
  font-size: 1.5rem;
  margin: 0px;
  display: inline;
}

.project-card-labels {
  font-size: 1.1rem;
  margin: 0px;
  display: flex;
}