body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 7vw;
}

.introduction {
  margin-top: 30vh;
  margin-bottom: 30vh !important;
  height: 40vh;
}

.grid {
  display: grid;
  grid-template-columns: [full-start] 0 [main-start text-start] repeat(10,1fr) [text-end main-end] 0 [full-end];
  grid-gap: 20px;
}

.alignment {
  grid-column: 4 / span 4;
  display: flex;
  flex-direction: column;
  -moz-box-pack: end;
  justify-content: flex-end;
  padding: 0px !important;
}

.project-card {
  background-color: white;
  outline: 1px solid;
  margin-bottom: 3vw;
  width: 55vw !important;
  height: 20vw !important;
}

.project-card-img {
  border-radius: 0px !important;
  outline: 1px solid;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.trailing {
  padding: 0px !important;
}

.leading {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}

.project-card-title {
  font-size: 20px;
  margin: 0px;
}

.project-card-text {
  font-size: 16px;
  margin: 0px;
}

.project-card-labels {
  font-size: 12px;
  margin: 0px;
}