body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 7vw;
}

.project-card {
  background-color: white;
  outline: 1px solid;
  margin-bottom: 3vw;
}

.project-card-img {
  border-radius: 0px !important;
  outline: 1px solid;
  width: 100%;
}

.trailing {
  padding: 0px !important;
}

.leading {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}

.project-card-title {
  font-size: 20px;
  margin: 0px;
}

.project-card-text {
  font-size: 16px;
  margin: 0px;
}

.project-card-labels {
  font-size: 12px;
  margin: 0px;
}